 :root {
  --fs-default: 16px;
 }

body {
  font-family: 'Inter', sans-serif;
  font-size: var(--fs-default);
  background-color: #F5F7FB;
  color: #293264;
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 47px;
  margin: 25px 0;
}

button {
  font-family: inherit;
  font-size: var(--fs-default);
  background: #4D5B9E;
  border-radius: 15px;
  color: #F5F7FB;
  border: none;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

hr {
  border: 0.8px solid #DBDEF0;
  margin-top: 15px;
}

/* Select difficulty */
form {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
}

select {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: var(--fs-default);
  /* outline: 0; */
  background: #deebf8;
  color: inherit;
  border: 1px solid #4D5B9E;
  padding: 4px;
  border-radius: 9px;
}

.start-screen {
  min-height: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-screen__button {
  width: 190px;
  height: 50px;
  margin-top: 29px;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.2;
}

.start-screen__button:hover {
  opacity: 0.9;
  background: #47549e;
}

.start-screen__description {
  line-height: 1.2;
  text-align: center;
}

/* Quiz started screen */
.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
  width: 85%;
  margin: auto;
  padding: 40px 0;
}

@media screen and (min-width: 1250px) {
  .quiz-container {
    width: 50%;
  }
}

/* .quiz-container__item {
  min-width: 350px;
} */

.quiz-container__answers-block {
  display: flex;
  flex-wrap: wrap;
}

.quiz-container__answer {
  padding: 4px 8px;
  margin-top: 10px;
  margin-right: 13px;
  border: 0.8px solid #4D5B9E;
  border-radius: 8px;
  font-weight: 500;
  line-height: 1.5;
  background: #F5F7FB;
  color: inherit;
  transition: background-color 0.1s;
}

@media screen and (max-width: 900px) {
  .quiz-container__answer {
    flex: 1 1 auto; 
  }
} 

.quiz-container__answer_selected { 
  background: #D6DBF5;
  border-color: #D6DBF5;
}

.quiz-container__answer_selected-wrong { 
  opacity: 0.5;
  background: #F8BCBC;
  border-color: #F8BCBC;
}

.quiz-container__check-results {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  
}

.quiz-container__correct-answer { 
  background: #94D7A2;
  border-color: #94D7A2;
  opacity: 1;
}

.quiz-container__button {
  font-weight: 600;
  line-height: 13px;
  width: 150px;
  height: 40px;
  border-radius: 10px;
   
}

.quiz-container__button:hover {
  opacity: 0.9;
  background: #47549e;
}

/* Blobs */
.blob-one {
  z-index: -1;
  right: -60px;
  top: -60px;
  border-radius: 39% 61% 63% 37% / 55% 40% 60% 45%;
  position: fixed;
  background: #FFFAD1;
  transform: rotate(-128.49deg);
  height: 290px;
  width: 352px;
  transition: transform 0.2s;
}

.blob-one_translate {
  transition: transform 0.3s;
  transform: rotate(-128.49deg) translateY(27px) scale(0.9);
}

.blob-two {
  z-index: -1;
  left: -60px;
  bottom: -60px;
  border-radius: 82% 43% 64% 65% / 68% 75% 55% 45%;
  position: fixed;
  background: #DEEBF8;
  transform: rotate(10.5deg);
  height: 290px;
  width: 352px;
  transition: transform 0.2s;
}

.blob-two_translate {
  transition: transform 0.3s;
  transform: rotate(10.5deg) translateY(27px) scale(0.9);
}
